* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  font-size: 7vw;
  letter-spacing: 1vw;
  margin-top: 3vw;
}

h1:hover,
h2:hover {
  cursor: default;
}

h2 {
  font-size: 5vw;
  letter-spacing: 0.5vw;
  margin-bottom: 1vw;
}

h3 {
  font-size: 3.5vw;
  text-align: center;
  font-weight: 400;
}

.content-wrapper {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.inputs-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

input {
  box-sizing: content-box;
  /* padding: 1vw; */
  height: 400%;
  width: 17%;
  border: none;
  background: transparent;
}

input:hover {
  cursor: pointer;
}

#randomize {
  /* margin: 2rem auto; */
  height: 10%;
  width: 40vw;
  align-self: center;
  justify-self: center;
  font-size: 160%;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1vw;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    purple,
    violet,
    rgb(200, 69, 91)
  );
  border: none;
  transition: width 0.2s ease-out;
}

#randomize:active {
  width: 35vw;
}

#randomize:hover {
  cursor: pointer;
}

.output-wrapper {
  display: flex;
  flex-flow: column nowrap;
  /* height: 40%; */
  width: 100%;
  align-items: center;
  justify-content: center;
}
