body {
  font: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, #cc554b, #785979); /* Standard syntax */
}

h1 {
  overflow: hidden;
  font: 600 7vw 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.5vw;
  width: 100%;
  caret-color: rgba(0, 0, 0, 0);
}

h1:hover {
  cursor: default;
}

h2 {
  caret-color: rgba(0, 0, 0, 0);
}

h2:hover {
  cursor: default;
}

h3 {
  font: 900 1em 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}
